package Practicals;
import java.util.Scanner;

public class Control {
    public static void main(String[] args) {
        try (Scanner sc = new Scanner(System.in)) {
            System.out.print("Enter an Integer: ");
            int num = sc.nextInt();
            
            if (num < 0) {
                System.out.println("Negative Number");
            } else if (num == 0) {
                System.out.println("Zero");
            } else {
                System.out.println("Positive Number");
            }
            
            if (num % 2 == 0) {
                System.out.println("Even Number");
            } else {
                System.out.println("Odd Number");
            }
            
            int day = num % 7 + 1;
            
            switch (day) {
                case 1-> System.out.println("Monday");
                case 2-> System.out.println("Tuesday");
                case 3-> System.out.println("Wednesday");
                case 4-> System.out.println("Thursday");
                case 5-> System.out.println("Friday");
                case 6-> System.out.println("Saturday");
                case 7-> System.out.println("Sunday");
                default-> System.out.println("Invalid Day");
            }
        }
    }
}
